<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>회원 가입</title>

    <script>
        function save_users_info() {
            let email = $('#email').val();
            let password = $("#password").val();
            // let password2 = $("#password2").val();
            let name = $("#name").val();

            let file = $("#file")[0].files[0];
            let form_data = new FormData();
            console.log(file);

            form_data.append("file_give", file);
            form_data.append("email_give", email);
            form_data.append("password_give", password);
            // form_data.append("password2_give", password2);
            form_data.append("name_give", name);

            $.ajax({
                type: "POST",
                url: '/sign_up',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert('가입이 완료되었습니다!')
                    alert(response["msg"])
                    window.location.href = '/login'
                }
            });
        }


    </script>

</head>
<body>
    email : <input class="form-control" id="email" type="text" placeholder="이메일을 입력해주세요">
    <hr>
    password : <input class="form-control" id="password" type="text" placeholder="비밀번호를 입력해주세요">
    <hr>
    password2 : <input class="form-control" id="password2" type="text" placeholder="비밀번호를 입력해주세요">
    <hr>
    name : <input class="form-control" id="name" type="text" placeholder="이름을 입력해주세요">
    <hr>
    <form id="ocr_form" action="http://localhost:5000/sign_up" method="POST" enctype="multipart/form-data">
        <input type="text" class="upload-name" disabled>
        <label for="file">파일찾기</label>
        <input type="file" id="file" name="file">
    </form>
    <label for="ocr_submit">변환하기</label>
    <input id="ocr_submit" form="ocr_form" type="submit">
    <hr>
    <button onclick="save_users_info()">회원 등록</button>
</body>
</html>