<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>7_OO</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <meta property="og:title" content="Daily Hangae" />
    <meta
      property="og:description"
      content="항해를 진행하며 하루하루를 기록해보자"
    />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='ogimg.png') }}"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/write_page.css" />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap"
      rel="stylesheet"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="http://example.com/myicon.png" />

    <script type="text/javascript">
      function cancel() {
        $("file", "title", "content").empty();
        alert("게시글 작성이 취소되었습니다!");
        window.location.href = "/";
      }
    </script>
    <script>
      $(document).ready(function () {});

      function user_only() {
        $.ajax({
          type: "POST",
          url: "/user_only",
          data: {},
          success: function (response) {
            alert(response["msg"]);
          },
        });
      }

      function save_post() {
        let title = $("#title").val();
        let topic = $("#topic").val();
        let content = $("#content").val();
        let file = $("#file")[0].files[0];
        let form_data = new FormData();

        form_data.append("title", title);
        form_data.append("topic", topic);
        form_data.append("content", content);
        form_data.append("file", file);

        $.ajax({
          type: "POST",
          url: "/posts/save",
          data: form_data,
          cache: false,
          contentType: false,
          processData: false,
          success: function (response) {
            alert("작성완료!");
            window.location.href = "/";
          },
        });
      }
    </script>
  </head>

  <body>
    <section class="hero is-success is-info">
      <div class="hero-body">
        <a href="/">
          <p class="title">
            <i class="fa fa-compass" aria-hidden="true"></i>
            7_OO<br />
            게시글 작성
          </p>
        </a>
      </div>
    </section>
    <!-- content -->
    <div class="wrap">
      <div class="view-img" id="imagePreview">
        <img id="upload-img" class="upload-img" />
      </div>
      <div class="content">
        <form
          id="ocr_form"
          action="http://localhost:5000/write_page"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="text" class="upload-name" disabled />
          <label for="file">파일찾기</label>
          <input type="file" id="file" name="file" />
        </form>
        <div class="form-group">
          <label for="formGroupExampleInput">제목</label>
          <input
            type="text"
            class="form-control"
            id="title"
            placeholder="제목을 입력하세요."
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">토픽</label>
          <input
            type="text"
            class="form-control"
            id="topic"
            placeholder="토픽을 입력하세요."
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">내용</label>
          <textarea
            class="form-control"
            id="content"
            cols="50"
            rows="5"
            placeholder="내용을 입력하세요."
          ></textarea>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary"
            onclick="user_only(); save_post()"
          >
            게시글 작성
          </button>
          <button type="button" class="btn btn-secondary" onclick="cancel()">
            취소
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
